---
---

@import "{{ site.theme }}";

onebutton ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 90px; }

onebutton li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

onebutton li:first-child a { border-radius: 5px 0 0 5px; }

onebutton li:last-child a { border-radius: 0 5px 5px 0; }

onebutton ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

onebutton ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

onebutton ul a:active { background-color: #f0f0f0; }

onebutton strong { color: #222; font-weight: 700; }

onebutton ul li { border-right: none; width: 89px; }

onebutton ul a strong { font-size: 14px; display: block; color: #222; }


twobutton ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 180px; }

twobutton li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

twobutton li:first-child a { border-radius: 5px 0 0 5px; }

twobutton li:last-child a { border-radius: 0 5px 5px 0; }

twobutton ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

twobutton ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

twobutton ul a:active { background-color: #f0f0f0; }

twobutton strong { color: #222; font-weight: 700; }

twobutton ul li + li { border-right: none; width: 89px; }

twobutton ul a strong { font-size: 14px; display: block; color: #222; }


threebutton ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 270px; }

threebutton li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

threebutton li:first-child a { border-radius: 5px 0 0 5px; }

threebutton li:last-child a { border-radius: 0 5px 5px 0; }

threebutton ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

threebutton ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

threebutton ul a:active { background-color: #f0f0f0; }

threebutton strong { color: #222; font-weight: 700; }

threebutton ul li + li + li { border-right: none; width: 89px; }

threebutton ul a strong { font-size: 14px; display: block; color: #222; }


fourbutton ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 360px; }

fourbutton li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

fourbutton li:first-child a { border-radius: 5px 0 0 5px; }

fourbutton li:last-child a { border-radius: 0 5px 5px 0; }

fourbutton ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

fourbutton ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

fourbutton ul a:active { background-color: #f0f0f0; }

fourbutton strong { color: #222; font-weight: 700; }

fourbutton ul li + li + li + li { border-right: none; width: 89px; }

fourbutton ul a strong { font-size: 14px; display: block; color: #222; }


fivebutton ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 450px; }

fivebutton li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

fivebutton li:first-child a { border-radius: 5px 0 0 5px; }

fivebutton li:last-child a { border-radius: 0 5px 5px 0; }

fivebutton ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

fivebutton ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

fivebutton ul a:active { background-color: #f0f0f0; }

fivebutton strong { color: #222; font-weight: 700; }

fivebutton ul li + li + li + li + li { border-right: none; width: 89px; }

fivebutton ul a strong { font-size: 14px; display: block; color: #222; }
